.abc{
    
    border:  dashed 2px;
    background-color: aqua;
}
*{
    font-family: cursive;
    margin: 0px;
    padding: 0px;
}
input[type]{
    color: black;
}   
input[type=number]{
    color: rgb(0, 4, 255);
}
input[type=email]{
    color: rgb(234, 0, 255);